html,body
{
    height: 100%;
    margin: 0px;
    padding: 0px; 
    
    
}

main
{
 height:100%;
    width: 100%;
 display:block;
 margin: 0px;
 padding: 0px;
 
 position: absolute;
 font-family: 'Oswald', sans-serif;
 
}




/*------- Header -------*/

header
{
    
    height:150px;
    background-color:white;
    position:absolute;
    width: 100%;
    display:block;
}


        /*------- nav -------*/
            
nav
{
    margin: 80px 0px;
    float:right;
    margin-right: 150px;
    font-size: 16px;

}

nav a
{
    margin-right: 15px;
    
}

a#logo
{
    
    background: url("../images/large_logo.png");
    background-size:cover;
    
    width: 140px;
    height: 140px;
    display:block;
    float:left;
    margin: 25px 75px;
    
}
            


        /*-------End nav -------*/




/*-------End Header -------*/


/*__________ First section _____________*/


#secOne
{
    background: url("../images/WebBg1.png");
    height:600px;
    width:100%;
    text-align: center;
    display:block;
    margin-top: 150px;
    
    
}


#secOne h1
{
    
    position: relative;
    top:40%;
    color:white;
    font-size: 46px;
    letter-spacing: 1px;
}

#secOne h4
{
    position: relative;
    top:35%;
    color:white;
    font-family: 'PT Sans', sans-serif;
}










/*>>>>>>>>__________End First section _____________*/


/*__________Second section__________*/





#secTwo
{
    
    display: block;
    width:100%;
    height:600px;
    
    text-align: center;
    padding-top: 100px;
    font-family: 'PT Sans', sans-serif;
    
}

#secTwo h4
{
    font-size: 50px;
    margin-bottom: 20px;
     font-family:  'Oswald', sans-serif;
    
}

#secTwo h5
{
    font-size: 20px;
     font-family: 'PT Sans', sans-serif;
    
}


 #paragraph
{
    display: inline-block;
    width:540px;
    font-size: 20px;
    
}










/*>>>>>>>>>>>>>>>>>>>>__________End Second section__________*/


/*------------ section Three ------------*/


#secThree
{
    
    background: url("../images/WebBg2.png") no-repeat;
   
    background-position: top;
    height:600px;
    width:100%;
    text-align: center;
    display:block;
    padding-top: 105px;
   //  background-size: cover;
    
    
}

#secThree h2
{
    font-family:  'Oswald', sans-serif;   
    font-size: 55px;
    color: white;
    margin-bottom: 20px;
    
}


#secThree p
{
      font-family: 'PT Sans', sans-serif;
      width: 650px;
     display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: white;
   margin-top: 7px;
    
}

#secThree a
{
    
    width 150px;
    height:35px;
    background-color: white;
    padding: 3px 75px;
    color: #8FD8F7;
   letter-spacing: 1px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 10px;
}




/*>>>>>>>>-----------End section three -----*/






/*---------- footer -------- */

footer
{
    height: 100px;
    background-color: snow;
     background-color: #f7f7f7;
}


#footer_address
{
    font-family: 'Average Sans', sans-serif;
    font-size: 75%;
    padding: 10px 10px 10px 20px;
    width: 400px;
    display: inline-block;
    font-weight: 500;
    

   
}

#footer_contactDetails
{
    
    font-family: 'Average Sans', sans-serif;
    font-size: 75%;
    padding: 10px 10px 10px 20px;
    position: absolute;
    right: 5px;
    width: 500px;
    display: inline-block;
    text-align: right;
    font-weight:500;
}




#footer_text
{       
   
    height:25px;
    
    display: inline-block;
    margin-bottom: 5px;
   
    
}

#facebook
{
    width:32px;
    height: 40px;
    background: url("../images/f.png") no-repeat;
    background-size: contain;
    display: inline-block;
}

#twitter
{
    width:32px;
    height: 40px;
    background: url("../images/2.png") no-repeat;
    background-size: contain;
    display: inline-block;
}


#linkedin
{
    width:32px;
    height: 40px;
    background: url("../images/instgrm.png") no-repeat;
    background-size: contain;
    display: inline-block;
    
}

/*------- END of footer --------- */












